/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.nestedDemo .dropzone ul[dnd-list] {
    margin: 0px;
    min-height: 42px;
    padding-left: 0px;
}

.nestedDemo .dropzone li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.nestedDemo .dropzone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.nestedDemo .dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.nestedDemo .dropzone .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

/***************************** Element Selection *****************************/

.nestedDemo .dropzone .selected .item {
    color: #3c763d;
    background-color: #dff0d8;
}

.nestedDemo .dropzone .selected .box {
    border-color: #d6e9c6;
}

.nestedDemo .dropzone .selected .box > h3 {
    background-color: #dff0d8;
    background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
    border-color: #d6e9c6;
    color: #3c763d;
}

/***************************** Element type specific styles *****************************/

.nestedDemo .dropzone .item {
    padding: 10px 15px;
}

.nestedDemo .dropzone .container-element {
    margin: 10px;
}

.nestedDemo .dropzone .container-element .column {
    float: left;
    width: 50%;
}

/***************************** Toolbox *****************************/

.nestedDemo .toolbox ul {
    cursor: move;
    list-style: none;
    padding-left: 0px;
}

.nestedDemo .toolbox button {
    margin: 5px;
    opacity: 1.0;
    width: 123px;
}

.nestedDemo .toolbox .dndDragging {
    opacity: 0.5;
}

.nestedDemo .toolbox .dndDraggingSource {
    opacity: 1.0;
}

/***************************** Trashcan *****************************/

.nestedDemo .trashcan ul {
    list-style: none;
    padding-left: 0px;
}

.nestedDemo .trashcan img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.nestedDemo .trashcan .dndDragover img {
    width: 100%;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.nestedDemo .trashcan .dndPlaceholder {
    display: none;
}
