/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.autoScollDemo ul[dnd-list],
.autoScrollDemo ul[dnd-list] > li {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.autoScrollDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.autoScrollDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.autoScrollDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}


/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.autoScrollDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    margin-bottom: -1px;
    padding: 25px 15px;
}

.autoScrollDemo .large .dndPlaceholder {
    height: 200px;
}

.autoScrollDemo .large li {
    padding: 50px 15px;
    height: 200px;
    text-align: center;
    font-size: 5rem;
}


.autoScrollDemo .narrow ul[dnd-list] {
    max-height: 200px;
    overflow-y: auto;
}


/**
 * Show selected elements in green
 */
.autoScrollDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
